# =========== IMPORTANT!! READ THIS!! ============ #
# This file is used to check links and can be copied to be used for documentation websites.

# When you copy this file, make sure to check and modify the fields
# that here are marked with `MODIFY`.
# ============================================== #

name: Check links

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check-links:
    uses: access-nri/documentation-infra/.github/workflows/check_links_workflow.yml@v0.2
    with:
      repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
      commit: ${{ github.event.pull_request.head.sha || github.sha }}
      rtd_project: 'esmf-trace'  # MODIFY: change this to the Read the Docs project
    #   readthedocs_yaml: # MODIFY: Uncomment to add .readthedocs.yaml path. If not included, '.readthedocs.yaml' is used.
    #   lychee_config: '/path/to/lychee_config.toml' # MODIFY: Uncomment to add lychee config path. If not included, the one from the ACCESS-NRI/documentation-infra repo gets used.
    # secrets: # MODIFY: Uncomment the lines below if the repo is private. You also need to create a secret named REPO_READ_TOKEN with a token that has repo read permissions.
    #   repo_read_token: ${{ secrets.REPO_READ_TOKEN }}