name: CI
on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    workflow_dispatch:

env:
    PY_VERSION_BUILD: 3.12

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Code formatting
      uses: astral-sh/ruff-action@v3
      with:
        args: "format --check --diff"

    - name: Ruff lint
      uses: astral-sh/ruff-action@v3
      with:
        args: "check"

  pypa-build:
    name: PyPA build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PY_VERSION_BUILD }}
          cache: 'pip' # caching pip dependencies

      - run: |
          python3 -m pip install --upgrade build && python3 -m build
